.pageSection {
  width: 80%;
  margin: 6rem auto 10rem;
  padding: 2rem;
  background: rgba(69, 64, 64, 0.783);
  border-radius: 1rem;
  background-color: var(--color-blanco);
  border-radius: 16px;
}

.pageTitle {
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 1.7rem;
}

/* === Panel de Control === */
.controlPanel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Búsqueda y Filtros */

/* Input de Búsqueda */
.searchBill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  font-weight: bold;
  min-width: 360px;
}

/* Estilos para los Inputs y Select */
.input,
.select {
  border: 2px solid #e0e0e0;
  padding: 1rem 0.5rem;
  border-radius: 10px;
  font-size: 1rem;
  font-family: inherit;
  color: var(--color-black);
  background-color: white;
  transition: all 0.2s;
}
.input:focus,
.select:focus {
  outline: none;
  border-color: var(--color-azul);
  box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.1);
}
.input:hover,
.select:hover {
  border-color: var(--color-azul);
}

/* Botones Principales */
.mainButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

/* Agregar Historia */
.addHistory {
  border: none;
  background-color: var(--color-azul);
  color: var(--color-blanco);
  border-radius: 10px;
  padding: 0.95rem 1.2rem;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  transition: background 0.2s;
}
.addHistory:hover {
  background: rgb(21, 79, 167);
}
.addHistory svg {
  width: 20px;
  height: 20px;
}

/* Paginación */
.paginationWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-black);
}

.pageButtons {
  display: flex;
  gap: 0.5rem;
}
.forwards,
.backwards {
  font-weight: bold;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 1px solid rgb(71, 71, 71);
  background: rgba(255, 255, 255, 0.05);
  cursor: pointer;
  transition: background 0.2s;
}
.forwards:hover,
.backwards:hover {
  border: 1px solid rgb(71, 71, 71);
  background: rgba(81, 78, 78, 0.559);
}

/* === Tabla === */
table {
  overflow-x: auto;
  margin-top: 3rem;
  border-radius: 10px;
  border: 1px solid var(--color-gris-medio);
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

thead {
  background-color: var(--color-azul-marino);
  color: var(--color-blanco);
}

thead th {
  font-weight: bold;
  padding: 1rem;
  font-size: 1.1rem;
}

tbody tr {
  border-bottom: 1px solid var(--color-gris-medio);
}
tbody tr:hover {
  transition: background 0.2s;
  background-color: var(--color-gris-claro);
}

tbody td {
  padding: 1.5rem 10px;
  font-size: 1rem;
}

tbody td {
  border-bottom: none;
}
